<div class="dashboard">
  <header>

    <%= link_to 'Secure & Track a new document', new_document_path, class: 'btn' %>
  <select>
    <option> Generate Report </option>
  </select>
  <%= link_to 'Aug 21, 2014 - Sep 21, 2014', '' %>

  <h1>Dashboard</h1>
  </header>
  <img src="images/dashboard_map.png" alt="map and alerts" />
  <img src="images/dashboard_doc.png" alt="documents" />
  <img src="images/dashboard_group.png" alt="groups" />
</div>




<% if false %>
<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Sf reference</th>
    <th>Refresh token</th>
    <th>Oauth token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.sf_reference %></td>
    <td><%= user.refresh_token %></td>
    <td><%= user.oauth_token %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
<% end %>
