<div class="document-list dashboard">
  <header>

    <%= link_to 'Secure a new document', new_document_path, class: 'btn' %>
  <div class="pull-right actions-menu">
    <a class="btn">Unshare</a>
    <a class="btn">Remove</a>
  </div>
  <h1>My documents</h1>
  </header>
  <div class="zen-navigation">
    <div class="zen-searchBox">
      <input type="text" title="Search All Files..." autocomplete="off" placeholder="Search All Files..." value=""/>
      <a class="btn" href="#" title="Search">Search</a>
    </div>
  </div>
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th class="selector"><input type="checkbox" name="" id="" value="" /></th>
        <th class="doc-name">Document Name</th>
        <th class="up-date">Secured on</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" name="" id="" value="" /></td>
        <td><a href="" class="doc pdf">DocumentName.pdf</a></td>
        <td>00/00/0000</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="" id="" value="" /></td>
        <td><a href="" class="doc pdf">DocumentName.pdf</a></td>
        <td>00/00/0000</td>
      </tr>
    </tbody>
  </table>
</div>

<% if false %>
<h1>Listing documents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Dt reference</th>
    <th>Sf reference</th>
    <th>Last event at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= document.name %> </td>
    <td><%= document.dt_reference %> </td>
    <td><%= document.sf_reference %> </td>
    <td><%= document.last_event_at %> </td>
    <td><%= link_to 'Show', document %> </td>
    <td><%= link_to 'Edit', edit_document_path(document) %> </td>
    <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
  </tr>
<% end %>
</table>

<br />
<% end %>


