<div class="alert alert-success"><%=t :success_html %></div>
<h1><%=t :title %></h1>
<img src="/images/IL.png" alt="Intralinks brand" class="brand pull-left"/>
<h2><%=t :subtitle %></h2>
<p><%=t :body_html %></p>
<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="label"><%= t :upload_label %></span>
  <div class="upload">

    <div class="field hidden">
      <%= f.label(:file, 'Choose a file from your computer') %>
      <%= f.file_field :file %>
    </div>
    <img src="/images/uploadWhiteArrow12.png" alt="upload" />
    <span><%=t :upload_content_html %></span>
  </div>
  <ul class="uploaded-doc">
    <li class="doc pdf">DocumentName.pdf</li>
  </ul>
  <span class="label"><%=t :permissions %></span>
  <div class="privileges well">
    <table class="privileges-table" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td><%=t :can_do %></td>
          <td><%= f.radio_button :access_type, "can_view", :checked => true %><i class="icon-view"></i></td>
          <td><%= f.radio_button :access_type, "can_print"%><i class="icon-print"></i></td>
          <td><%= f.radio_button :access_type, "can_edit"%><i class="icon-edit"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions">
   <%= link_to 'Back', documents_path %> &nbsp; <%= f.submit 'Secure this document' %>
  </div>
<% end %>


